table, th, td {
    border: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: beige;
    color: black;
}

tr:nth-child(even) {
    background-color: azure;
}

tr:nth-child(odd) {
    background-color: gray;
    color: white;
}

input, button {
    border-color:darkgray;
}

input:hover, button:hover {
    background-color: beige;
}

h3 {
    text-align: center;
}

.title {
    background-color: gray;
    text-align: center;
    padding: 40px;
    margin-top: 0px;
    color: antiquewhite;
    
}

body {
    margin: 0;
}

.everything {
    margin: 10px;
}

.redBackground {
    display: table;
    background-color: red;
    color: beige;
}